.registration {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.login {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}